USE [SinhVien]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganh](
	[MaCN] [char](20) NOT NULL,
	[TenCN] [nvarchar](50) NULL,
	[MaN] [char](20) NULL,
 CONSTRAINT [PK_ChuyenNganh] PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DKHP]    Script Date: 01/05/2026 13:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKHP](
	[MaSV] [char](20) NOT NULL,
	[MaHP] [char](20) NOT NULL,
	[ChuyenCan] [decimal](3, 1) NULL,
	[GK] [decimal](3, 1) NULL,
	[BTN] [decimal](3, 1) NULL,
	[KTHP] [decimal](3, 1) NULL,
	[TongKet] [decimal](3, 1) NULL,
 CONSTRAINT [PK_DKHP] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangDay]    Script Date: 01/05/2026 13:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangDay](
	[MaHP] [char](20) NOT NULL,
	[MaGV] [char](20) NOT NULL,
 CONSTRAINT [PK_GiangDay] PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC,
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 01/05/2026 13:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [char](20) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [char](1) NULL,
	[HocVi] [nvarchar](50) NULL,
	[HocHam] [nvarchar](50) NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 01/05/2026 13:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[NamHoc] [char](20) NOT NULL,
	[TenHocKy] [char](10) NOT NULL,
	[NgayKetThuc] [date] NULL,
	[NgayBatDau] [date] NULL,
 CONSTRAINT [PK_HocKy] PRIMARY KEY CLUSTERED 
(
	[NamHoc] ASC,
	[TenHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 01/05/2026 13:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaHP] [char](20) NOT NULL,
	[TenLopHP] [nvarchar](50) NULL,
	[SLDangKy] [int] NULL,
	[MaMH] [char](20) NULL,
	[NamHoc] [char](20) NULL,
	[TenHocKy] [char](10) NULL,
	[Thu] [nvarchar](20) NULL,
	[TietBatDau] [char](10) NULL,
	[TietKetThuc] [char](10) NULL,
	[TuanBatDau] [char](10) NULL,
	[TuanKetThuc] [char](10) NULL,
 CONSTRAINT [PK_LopHocPhan] PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopSinhHoat]    Script Date: 01/05/2026 13:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopSinhHoat](
	[MaL] [char](20) NOT NULL,
	[MaGV] [char](20) NULL,
 CONSTRAINT [PK_LopSinhHoat] PRIMARY KEY CLUSTERED 
(
	[MaL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 01/05/2026 13:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [char](20) NOT NULL,
	[TiengViet] [nvarchar](50) NULL,
	[TiengAnh] [nvarchar](50) NULL,
	[SoTinChi] [int] NULL,
	[BoMon] [nvarchar](50) NULL,
	[Khoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NganhHoc]    Script Date: 01/05/2026 13:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NganhHoc](
	[MaN] [char](20) NOT NULL,
	[TenN] [nvarchar](50) NULL,
 CONSTRAINT [PK_Nganh] PRIMARY KEY CLUSTERED 
(
	[MaN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiThan]    Script Date: 01/05/2026 13:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiThan](
	[MaSV] [char](20) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[MQH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Email] [varchar](50) NULL,
	[SDT] [char](10) NULL,
 CONSTRAINT [PK_NguoiThan] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 01/05/2026 13:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [char](20) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [char](1) NULL,
	[Email] [varchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[CCCD] [varchar](14) NULL,
	[NoiSinh] [nvarchar](20) NULL,
	[QueQuan] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[KhoaTrungTuyen] [nvarchar](50) NULL,
	[NgayNhapHoc] [date] NULL,
	[MaN] [char](20) NULL,
	[MaCN] [char](20) NULL,
	[MaL] [char](20) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChuyenNganh] ([MaCN], [TenCN], [MaN]) VALUES (N'7340201001          ', N'Ngân Hàng', N'7340201             ')
INSERT [dbo].[ChuyenNganh] ([MaCN], [TenCN], [MaN]) VALUES (N'7340201002          ', N'Tài Chính', N'7340201             ')
INSERT [dbo].[ChuyenNganh] ([MaCN], [TenCN], [MaN]) VALUES (N'7340201003          ', N'Công nghệ tài chính', N'7340201             ')
GO
INSERT [dbo].[DKHP] ([MaSV], [MaHP], [ChuyenCan], [GK], [BTN], [KTHP], [TongKet]) VALUES (N'038001001           ', N'A01                 ', CAST(4.9 AS Decimal(3, 1)), CAST(5.7 AS Decimal(3, 1)), CAST(8.3 AS Decimal(3, 1)), CAST(8.4 AS Decimal(3, 1)), CAST(7.5 AS Decimal(3, 1)))
INSERT [dbo].[DKHP] ([MaSV], [MaHP], [ChuyenCan], [GK], [BTN], [KTHP], [TongKet]) VALUES (N'038001001           ', N'B04                 ', CAST(5.0 AS Decimal(3, 1)), CAST(4.0 AS Decimal(3, 1)), CAST(3.2 AS Decimal(3, 1)), CAST(4.7 AS Decimal(3, 1)), CAST(4.3 AS Decimal(3, 1)))
INSERT [dbo].[DKHP] ([MaSV], [MaHP], [ChuyenCan], [GK], [BTN], [KTHP], [TongKet]) VALUES (N'038001001           ', N'C01                 ', CAST(4.5 AS Decimal(3, 1)), CAST(9.0 AS Decimal(3, 1)), CAST(4.4 AS Decimal(3, 1)), CAST(7.3 AS Decimal(3, 1)), CAST(6.8 AS Decimal(3, 1)))
GO
INSERT [dbo].[GiangDay] ([MaHP], [MaGV]) VALUES (N'A01                 ', N'GV05                ')
INSERT [dbo].[GiangDay] ([MaHP], [MaGV]) VALUES (N'A02                 ', N'GV02                ')
INSERT [dbo].[GiangDay] ([MaHP], [MaGV]) VALUES (N'A02                 ', N'GV03                ')
GO
INSERT [dbo].[GiangVien] ([MaGV], [Ho], [Ten], [NgaySinh], [GioiTinh], [HocVi], [HocHam]) VALUES (N'GV01                ', N'Nguyễn Phúc Ánh', N'Dương', CAST(N'1990-11-18' AS Date), N'F', N'Tiến sĩ', N'Phó giáo sư')
INSERT [dbo].[GiangVien] ([MaGV], [Ho], [Ten], [NgaySinh], [GioiTinh], [HocVi], [HocHam]) VALUES (N'GV02                ', N'Nguyễn Quỳnh', N'Mi', CAST(N'1989-08-04' AS Date), N'F', N'Thạc sĩ', NULL)
INSERT [dbo].[GiangVien] ([MaGV], [Ho], [Ten], [NgaySinh], [GioiTinh], [HocVi], [HocHam]) VALUES (N'GV03                ', N'Bùi Gia', N'Huy', CAST(N'1980-04-28' AS Date), N'M', N'Tiến sĩ', N'Phó giáo sư')
GO
INSERT [dbo].[HocKy] ([NamHoc], [TenHocKy], [NgayKetThuc], [NgayBatDau]) VALUES (N'2022-2023           ', N'HK1       ', CAST(N'2022-01-31' AS Date), CAST(N'2022-09-04' AS Date))
INSERT [dbo].[HocKy] ([NamHoc], [TenHocKy], [NgayKetThuc], [NgayBatDau]) VALUES (N'2022-2023           ', N'HK2       ', CAST(N'2023-07-21' AS Date), CAST(N'2023-02-19' AS Date))
INSERT [dbo].[HocKy] ([NamHoc], [TenHocKy], [NgayKetThuc], [NgayBatDau]) VALUES (N'2023-2024           ', N'HK1       ', CAST(N'2023-01-31' AS Date), CAST(N'2023-09-04' AS Date))
GO
INSERT [dbo].[LopHocPhan] ([MaHP], [TenLopHP], [SLDangKy], [MaMH], [NamHoc], [TenHocKy], [Thu], [TietBatDau], [TietKetThuc], [TuanBatDau], [TuanKetThuc]) VALUES (N'A01                 ', N'Tư tưởng Hồ Chí Minh', 14, N'1001                ', N'2022-2023           ', N'HK1       ', N'2', N'6         ', N'10        ', N'1         ', N'6         ')
INSERT [dbo].[LopHocPhan] ([MaHP], [TenLopHP], [SLDangKy], [MaMH], [NamHoc], [TenHocKy], [Thu], [TietBatDau], [TietKetThuc], [TuanBatDau], [TuanKetThuc]) VALUES (N'A02                 ', N'Tư tưởng Hồ Chí Minh', 11, N'1001                ', N'2022-2023           ', N'HK1       ', N'2', N'1         ', N'5         ', N'12        ', N'17        ')
INSERT [dbo].[LopHocPhan] ([MaHP], [TenLopHP], [SLDangKy], [MaMH], [NamHoc], [TenHocKy], [Thu], [TietBatDau], [TietKetThuc], [TuanBatDau], [TuanKetThuc]) VALUES (N'B01                 ', N'Tiếng Anh chuyên ngành', 10, N'1002                ', N'2023-2024           ', N'HK1       ', N'7', N'1         ', N'5         ', N'12        ', N'17        ')
GO
INSERT [dbo].[LopSinhHoat] ([MaL], [MaGV]) VALUES (N'DH38DC01            ', N'GV02                ')
INSERT [dbo].[LopSinhHoat] ([MaL], [MaGV]) VALUES (N'DH38DC02            ', N'GV04                ')
INSERT [dbo].[LopSinhHoat] ([MaL], [MaGV]) VALUES (N'DH38LK03            ', N'GV06                ')
GO
INSERT [dbo].[MonHoc] ([MaMH], [TiengViet], [TiengAnh], [SoTinChi], [BoMon], [Khoa]) VALUES (N'1001                ', N'Tư tưởng Hồ Chí Minh', N'Ho Chi Minh’s Ideology', 2, N'Lịch sử ĐCSVN và Tư tưởng Hồ Chí Minh', N'Lý luận chính trị')
INSERT [dbo].[MonHoc] ([MaMH], [TiengViet], [TiengAnh], [SoTinChi], [BoMon], [Khoa]) VALUES (N'1002                ', N'Tiếng Anh chuyên ngành', N'English for Civil Engineering', 2, N'Ngoại ngữ chuyên ngành', N'Ngoại ngữ')
INSERT [dbo].[MonHoc] ([MaMH], [TiengViet], [TiengAnh], [SoTinChi], [BoMon], [Khoa]) VALUES (N'1003                ', N'Tin học ứng dụng', N'Applied Informatics', 3, N'Khoa học máy tính', N'Hệ thống thông tin quản lý')
GO
INSERT [dbo].[NganhHoc] ([MaN], [TenN]) VALUES (N'7340201             ', N'Tài chính – Ngân hàng')
INSERT [dbo].[NganhHoc] ([MaN], [TenN]) VALUES (N'7380107             ', N'Luật kinh tế')
GO
INSERT [dbo].[NguoiThan] ([MaSV], [Ho], [Ten], [MQH], [DiaChi], [Email], [SDT]) VALUES (N'038001001           ', N'Nguyễn Văn', N'Hưng', N'Bố', N'82/14, đường số 9, phường Linh Chiểu, Thủ Đức , TP.HCM', N'0378203421@gmail.com', N'0378203421')
INSERT [dbo].[NguoiThan] ([MaSV], [Ho], [Ten], [MQH], [DiaChi], [Email], [SDT]) VALUES (N'038001002           ', N'Dương Thị', N'Nga', N'Mẹ', N'31/2, đường số 3, Phước Long B, Quận 9, TP.HCM', N'0347197856@gmail.com', N'0347197856')
INSERT [dbo].[NguoiThan] ([MaSV], [Ho], [Ten], [MQH], [DiaChi], [Email], [SDT]) VALUES (N'038001003           ', N'Lê  Văn', N'An', N'Bố', N'tổ 5, ấp 5, Long Thành, Đồng Nai', N'0764380227@gmail.com', N'0764380227')
GO
INSERT [dbo].[SinhVien] ([MaSV], [Ho], [Ten], [NgaySinh], [GioiTinh], [Email], [SDT], [CCCD], [NoiSinh], [QueQuan], [DiaChi], [KhoaTrungTuyen], [NgayNhapHoc], [MaN], [MaCN], [MaL]) VALUES (N'038001001           ', N'Nguyễn Đình', N'An', CAST(N'2004-09-27' AS Date), N'M', N'038001001@st.buh.edu.vn', N'0398702131', N'077204004112', N'TP.HCM', N'Hà Nội', N'82/14, đường số 9, phường Linh Chiểu, Thủ Đức, TP.HCM', N'K38', CAST(N'2022-10-09' AS Date), N'7340201             ', N'7340201001          ', N'DH38DC01            ')
INSERT [dbo].[SinhVien] ([MaSV], [Ho], [Ten], [NgaySinh], [GioiTinh], [Email], [SDT], [CCCD], [NoiSinh], [QueQuan], [DiaChi], [KhoaTrungTuyen], [NgayNhapHoc], [MaN], [MaCN], [MaL]) VALUES (N'038001002           ', N'Nguyễn Bùi Phương', N'Anh', CAST(N'2004-07-02' AS Date), N'F', N'038001002@st.buh.edu.vn', N'0973452821', N'077304002087', N'TP.HCM', N'Huế', N'31/2, đường số 3, Phước Long B, Quận 9, TP.HCM', N'K38', CAST(N'2022-10-09' AS Date), N'7340201             ', N'7340201001          ', N'DH38DC01            ')
INSERT [dbo].[SinhVien] ([MaSV], [Ho], [Ten], [NgaySinh], [GioiTinh], [Email], [SDT], [CCCD], [NoiSinh], [QueQuan], [DiaChi], [KhoaTrungTuyen], [NgayNhapHoc], [MaN], [MaCN], [MaL]) VALUES (N'038001003           ', N'Lê Nguyễn Thái', N'Bảo', CAST(N'2004-09-17' AS Date), N'M', N'038001003@st.buh.edu.vn', N'0982104871', N'077204001534', N'Đồng Nai', N'Lâm Đồng', N'tổ 5, ấp 5, Long Thành, Đồng Nai', N'K38', CAST(N'2022-10-09' AS Date), N'7340201             ', N'7340201002          ', N'DH38DC01            ')
GO
ALTER TABLE [dbo].[ChuyenNganh]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenNganh] FOREIGN KEY([MaN])
REFERENCES [dbo].[NganhHoc] ([MaN])
GO
ALTER TABLE [dbo].[ChuyenNganh] CHECK CONSTRAINT [FK_ChuyenNganh]
GO
ALTER TABLE [dbo].[DKHP]  WITH CHECK ADD  CONSTRAINT [FK_DKHP1] FOREIGN KEY([MaHP])
REFERENCES [dbo].[LopHocPhan] ([MaHP])
GO
ALTER TABLE [dbo].[DKHP] CHECK CONSTRAINT [FK_DKHP1]
GO
ALTER TABLE [dbo].[DKHP]  WITH CHECK ADD  CONSTRAINT [FK_DKHP2] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[DKHP] CHECK CONSTRAINT [FK_DKHP2]
GO
ALTER TABLE [dbo].[GiangDay]  WITH CHECK ADD  CONSTRAINT [FK_GiangDay1] FOREIGN KEY([MaHP])
REFERENCES [dbo].[LopHocPhan] ([MaHP])
GO
ALTER TABLE [dbo].[GiangDay] CHECK CONSTRAINT [FK_GiangDay1]
GO
ALTER TABLE [dbo].[GiangDay]  WITH CHECK ADD  CONSTRAINT [FK_GiangDay2] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[GiangDay] CHECK CONSTRAINT [FK_GiangDay2]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan1] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan1]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan2] FOREIGN KEY([NamHoc], [TenHocKy])
REFERENCES [dbo].[HocKy] ([NamHoc], [TenHocKy])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan2]
GO
ALTER TABLE [dbo].[LopSinhHoat]  WITH CHECK ADD  CONSTRAINT [FK_LopSinhHoat] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[LopSinhHoat] CHECK CONSTRAINT [FK_LopSinhHoat]
GO
ALTER TABLE [dbo].[NguoiThan]  WITH CHECK ADD  CONSTRAINT [FK_NguoiThan] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[NguoiThan] CHECK CONSTRAINT [FK_NguoiThan]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien1] FOREIGN KEY([MaN])
REFERENCES [dbo].[NganhHoc] ([MaN])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien1]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien2] FOREIGN KEY([MaCN])
REFERENCES [dbo].[ChuyenNganh] ([MaCN])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien2]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien3] FOREIGN KEY([MaL])
REFERENCES [dbo].[LopSinhHoat] ([MaL])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien3]
GO
